---
import Layout from '../layouts/PageTemplate.astro';
import BreadCrumbs from '../components/BreadCrumbs.astro';
import PageTitle from '../components/PageTitle.astro';
import ContentTitle from '../components/ContentTitle.astro';
import Catch from '../components/Catch.astro';
import ContactInfo from '../components/ContactInfo.astro';

import ServiceUnit from '../components/ServiceUnit.astro';

import { XINService } from '../content/Service.js';

import '../styles/css/service.css';
---

<Layout title="Service" description="">
	<div id="service" class="md_contentUnit">
		<BreadCrumbs
      pages={[
        {name: 'TOP', url: '/'},
        {name: 'SERVICE', url: '/service'},
      ]}
      />

		<PageTitle
				subTitle="WHAT WE DO"
				svg="/imageFile/service_title.svg"
				panel="/imageFile/service/panel_service.svg">
				<h2 class="rubi">私たちに<br />できること</h2>
		</PageTitle>

		<div class="unitContent spaceLess pageTopCopy">
			<Catch>
				私たちは “Innovation Design Firm”。<br>
				ただ「つくる」だけではなく「変革する」ことを第一義に、<br class="spHide">
				デザイン経営領域からDX領域まで幅広くご支援します。
			</Catch>
		</div>

		<div class="unitContent">
			<div class="serviceSectionUnit">
				<p class="serviceSectionUnit_title">SERVICE DESIGN</p>
				<Catch>
					経営とビジネスの旅路に寄り添う伴走者のように。<br />想いと成果にフルコミットでお力になります。
				</Catch>
				<div class="serviceFlow">
					<img src="/imageFile/service/service_flow.svg" class="serviceFlow_img" />
					<dl class="serviceFlow_elem experience">
						<dt class="serviceFlow_elemTitle"><span>EXPERIENCE DESIGN</span></dt>
						<dd class="serviceFlow_elemRubi">コトのデザイン</dd>
						<dd class="serviceFlow_elemDec">
						企業の経営・ビジネス・サービスの<br />
						根幹に関わる体験価値をデザイン
						</dd>
					</dl>
					<dl class="serviceFlow_elem product">
						<dt class="serviceFlow_elemTitle"><span>PRODUCT DESIGN</span></dt>
						<dd class="serviceFlow_elemRubi">モノのデザイン</dd>
						<dd class="serviceFlow_elemDec">
						UI/UXデザインを中心としたデジタルプロダクトの<br />
						インターフェイスやデザイン組織のデザイン
						</dd>
					</dl>
				</div>
			</div>
		</div>

		<section class="unitContent">
			<div class="serviceDesignUnit">
				<p class="serviceDesignUnit_title">EXPERIENCE DESIGN</p>
				<h3 class="serviceDesignUnit_rubi">コトのデザイン</h3>
				<Catch level={2}>
					私たちが得意とするのは、「体験」のデザイン。<br />
					Webやアプリのサービスデザインだけでなく、<br />
					最上流からデザイン経営やビジネス戦略策定をサポートします。
				</Catch>
			</div>
			<div class="serviceUnitWrap">
			{
				XINService.experienceDesign.map(step => (
					<ServiceUnit
						title={step.title}
						description={step.description}
						methods={step.methods} />
				)
			)}
			</div>
		</section>

		<section class="unitContent">
			<div class="serviceDesignUnit">
				<p class="serviceDesignUnit_title">PRODUCT DESIGN</p>
				<h3 class="serviceDesignUnit_rubi">モノのデザイン</h3>
				<p class="serviceDesignUnit_copy">
					UI/UXデザインを中心にした、デジタルプロダクトの<br />
					理想を定め、カタチにするのがXINの強みです。<br />
					また、リリースして終わりではなく、継続的に価値を探求し<br />
					価値を増していく運用支援にも取り組んでいます。
				</p>
			</div>
			<div class="serviceUnitWrap">
			{
				XINService.productDesign.map(step => (
					<ServiceUnit
						title={step.title}
						description={step.description}
						methods={step.methods} />
				)
			)}
			</div>
		</section>

		<section class="unitContent">
			<div class="serviceSectionUnit">
				<p class="serviceSectionUnit_title">AS A PARTNER</p>
				<h2 class="serviceSectionUnit_catch">理想を、共に実現するパートナーとして</h2>
				<p class="serviceSectionUnit_copy">
					私たちには大規模サイトの体験設計やリニューアル、グロースハックまで幅広いPJ経験と知見があります。<br />
			お客様のニーズや状況ごとに必要な対応をスピーディーかつ的確にPJを進行します。
				</p>
			</div>

			<div class="serviceSubUnit">
				<h4 class="serviceSubUnit_title">XINのプロジェクトマネジメント</h4>
				<div class="serviceSubUnit_wrap">
					<dl class="teamUnit">
						<dt class="teamUnit_title">分業制ではなくワンチーム体制</dt>
						<dd class="teamUnit_description">すべてのフェーズをワンチームで担当。<br />
							フェーズ間の引継ぎが発生しないため、初めに描いた理想をシュリンクさせることなく実現させます。<br />
							同じメンバーだからこそ、フェーズを遡る検討にも対応可能。後から生まれたご要望にもお応えします。</dd>
					</dl>
					<dl class="teamUnit">
						<dt class="teamUnit_title">密なコミュニケーション</dt>
						<dd class="teamUnit_description">週1回以上のオンラインMTGを基本としており、非同期的なコミュニケーション</dd>
					</dl>
					<dl class="teamUnit">
						<dt class="teamUnit_title">提案型のPJ進行</dt>
						<dd class="teamUnit_description">コンサルティングスタンスで常に提案ベースで議論を進めていくため、お客様に負担をかけることなく、スムーズなPJ進行が可能です。</dd>
					</dl>
				</div>
			</div>

			<div class="serviceSubUnit">
				<h4 class="serviceSubUnit_title">状況に応じた形で参加します</h4>
				<div class="serviceSubUnit_wrap">
					<dl class="teamUnit">
						<dt class="teamUnit_title">PJや開発チームとして参加</dt>
						<dd class="teamUnit_description">すべてのフェーズをワンチームで担当。<br />
							フェーズ間の引継ぎが発生しないため、初めに描いた理想をシュリンクさせることなく実現させます。<br />
							同じメンバーだからこそ、フェーズを遡る検討にも対応可能。後から生まれたご要望にもお応えします。</dd>
					</dl>
					<dl class="teamUnit">
						<dt class="teamUnit_title">デザイナーリソースの提供</dt>
						<dd class="teamUnit_description">週1回以上のオンラインMTGを基本としており、非同期的なコミュニケーション</dd>
					</dl>
				</div>
			</div>
		</section>

		<aside class="unitContent">
			<div class="trialUnit">
				<h3 class="trialUnit_title">まずは、お試しも可能です</h3>
				<div class="trialUnit_wrap">
					<dl class="trialElement">
						<dt class="trialElement_title">クリエイティブ<br>壁打ちサービス</dt>
						<dd class="trialElement_dec">短時間低単価、お試しデザインコンサルサービス</dd>
					</dl>
					<dl class="trialElement">
						<dt class="trialElement_title">ライブ<br>プロトタイピング</dt>
						<dd class="trialElement_dec">MTG中に形にしながら検討を加速、意思決定を支援</dd>
					</dl>
					<dl class="trialElement">
						<dt class="trialElement_title">デザイン人材<br>育成支援</dt>
						<dd class="trialElement_dec">XIN独自の育成メソッドを社内デザイナーに適用</dd>
					</dl>
					<dl class="trialElement">
						<dt class="trialElement_title">UI/UX<br>レビュー</dt>
						<dd class="trialElement_dec">Webサイト/アプリのUI/UXを徹底レビュー</dd>
					</dl>
					<dl class="trialElement">
						<dt class="trialElement_title">デザイナー<br>単月アサイン</dt>
						<dd class="trialElement_dec">まずはお試し、XINのデザイナー価値体験</dd>
					</dl>
					<dl class="trialElement">
						<dt class="trialElement_title">デザイン<br>サブスク</dt>
						<dd class="trialElement_dec">月額低額でデザインの諸々をまるっと対応</dd>
					</dl>
					<dl class="trialElement">
						<dt class="trialElement_title">グロースハック<br>支援</dt>
						<dd class="trialElement_dec">グロース周りの改善施策を内部デザイナーのように</dd>
					</dl>
					<dl class="trialElement">
						<dt class="trialElement_title">ブレスト＆<br>アイディエーション</dt>
						<dd class="trialElement_dec">デザイン思考で会議の進行に新しいひらめきを</dd>
					</dl>
				</div>
			</div>
		</aside>

		<ContactInfo />

	</div>
</Layout>